<div class="container">
  <nav>
    <ul class="nav float-right">
      <li class="nav-item">
        <button class="btn btn-link nav-link disabled">
          <%= @user.name %>
        </button>
      </li>
    </ul>
  </nav>

  <h3 class="text-muted"> สงคราม<span class="d-none d-sm-inline">เริ่มแล้ว</span>! </h3>

  <hr/>

  <div class="card">
    <div class="card-header border-bottom-0 pb-0">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#parties" data-toggle="tab">ปาร์ตี้</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#character" data-toggle="tab">ตัวละคร</a>
        </li>
      </ul>
    </div>

    <div class="card-body">
      <div class="tab-content">
        <div class="tab-pane fade show active" id="parties">
          <% if @user.has_party? %>
            <div class="jumbotron m-0">
              <div class="d-flex justify-content-between">
                <%= @user.members.first.party.name %>
                <%= link_to 'ออก', @user.members.first.party, method: :delete, class: 'btn btn-outline-danger btn-sm float-right' %>
              </div>
              <ul>
                <% @user.members.first.party.members.each do |member| %>
                  <li> <%= member.user.name %> </li>
                <% end %>
              </ul>
            </div>
          <% else %>
            <%= form_with url: parties_path, local: true, class: 'form' do |f| %>
              <div class="input-group">
                <%= f.text_field :name, class: "form-control", placeholder: "#{@user.name}'s Party" %>
                <div class="input-group-append">
                  <%= f.submit 'สร้างปาร์ตี้', class: 'btn btn-primary mb-2' %>
                </div>
              </div>
            <% end %>
          <% end %>

          <div class="text-center text-muted m-1">
            . . .
          </div>

          <div>
            <ul class="list-group list-group-flush">
              <% @parties.each do |party| %>
                <li class="list-group-item px-0">
                  <%= party.name %>
                  <span class="badge badge-secondary badge-pill">
                    <%= party.members.size %>/5
                  </span>
                  <% unless @user.has_party? %>
                    <%= link_to 'เข้าร่วม', party, method: :put, class: 'btn btn-outline-info btn-sm float-right' %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="tab-pane fade" id="character">
          เร็ว ๆ นี้
        </div>
      </div>
    </div>
  </div>
</div>
